@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <!-- Jumbotron -->
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1 class="display-3">Welcome to Coding Factory</h1>
        <p class="lead">We create Professional Programmers!</p>
        <hr />
        <p>
            It's @Model.CurrentDay! Time to learn more about Coding Factory! 
        </p>
        <a class="btn btn-secondary" href="https://codingfactory.aueb.gr/">Learn more</a>
    </div>
</div>
